<div class="container container__product-list">
  <div class="item" *ngFor="let item of list">
    <p class="item__description">{{item.description}}</p>
    <div class="item__details">
      <div class="item__price">
        <span class="item__price_header">Цена за тонну:</span>
        <br/>
        <span class="item__price_value">{{item.price | currency:"RUB":"symbol"}}</span>
      </div>
      <mat-form-field class="item__input">
        <input matInput type="number" placeholder="Количество тонн"
               #input />
      </mat-form-field>
      <button class="item__add-to-basket"
              [class.disabled]="!input.value"
              (click)="addItemToBasket(item, +input.value)"
              [disabled]="!input.value">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>